<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js">
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="//placehold.it/150x150">
            </div>
            <div class="col-md-9">
                <h1>Jane Doette</h1>
                <h3>front-end ninja</h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <img src="//placehold.it/950x350">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Featured Work</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="//placehold.it/250x250">
                <h2>applify</h2>
                <a href="https://github.com/udacity/applify">https://github.com/udacity/applify</a>
            </div>
            <div class="col-md-4">
                <img src="//placehold.it/250x250">
                <h2>sunflower</h2>
                <a href="https://github.com/udacity/sunflower">https://github.com/udacity/sunflower</a>
            </div>
            <div class="col-md-4">
                <img src="//placehold.it/250x250">
                <h2>bokeh</h2>
                <a href="https://github.com/udacity/bokeh">https://github.com/udacity/bokeh</a>
            </div>
        </div>
    </div>
</body>
</html>